html, body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

.content .header {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

@media screen and (min-width: 1025px) {
  .input-button {
    display: none;
  }
} 

.overview {
  margin: 0 1rem 1rem;
}

.connectors {
  padding-bottom: 1rem;
}

.connectors button {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
}

.connectors button:focus {
  background-color: #efefef;
}

.input {
  padding-bottom: 1rem;
}

.input input {
  font-size: 20px;
  height: 2rem;
  border-radius: 8px;
}

.input input:focus {
  border-color: transparent;
}

#error span {
  color: rgb(136, 52, 52);
}

#truth-table table {
  border-collapse: collapse;
  color: #555555;
  text-align: center;
  margin: 10px 20px 20px;
}

#truth-table table span {
  padding: 20px;
}

#truth-table table, th, td{
  border: 1px solid black;
}