html, body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 1rem;
  min-width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

.overview {
  margin-bottom: 1rem;
}

.input {
  padding: 1rem;
}

.input input {
  font-size: 20px;
  height: 2rem;
  border-radius: 8px;
}

.input input:focus {
  border-color: transparent;
}



#error span {
  color: rgb(136, 52, 52);
}

#truth-table table {
  border-collapse:collapse;
  margin: 1rem;
  color: #555555;
  text-align: center;
}
#truth-table table span {
  font-weight: normal;
  padding: 1rem;
}
#truth-table table, th, td{
  border: 1px solid black;
}
